body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 24px;
    background-color: #f4f4f9;
    color: #333;
}

.encabezado {
    background-color: #026aa7;
    color: white;
    padding: 24px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.encabezado h1 {
    margin: 0;
    font-size: 32px;
}

.encabezado p {
    margin: 8px 0;
    font-size: 16px;
}

.logo {
    position: fixed;
    top: 0px; 
    right: 0px;
  } 

  .navegacion ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 0;
    margin-top: 16px;
}


.navegacion a {
    color: white;
    text-decoration: none;
    font-weight: 600px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.navegacion a:hover {
    color: #ffcc00;
}

.contact-form {
    margin: 32px auto;
    padding: 16px;
    max-width: 600px;
    background-color: #ffcc00;
    border-radius: 10px;
    border: 1px solid #ddd;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form label {
    margin: 0.5rem 0 0.2rem;
}

.contact-form input,
.contact-form select,
.contact-form textarea,
.contact-form button {
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    background-color: #026aa7;
    color: white;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #353535;
}

.mapa {
    text-align: center;
    margin: 36rpx 0;
}

.mapa iframe {
    width: 90%;
    max-width: 800px;
    border: none;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 16px;
    margin-top: 32px;
    background-size: 100% 85%;
}